<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <app>
        <add key="app-name" value="dwa"/>
        <!--d1-->
        <d1>
            <add key="type" value=""/>
            <!--events-->
            <add key="event-d1-cdn" value=""/>
            <add key="event-d1-exp" value=""/>
            <add key="event-d2-cdn" value=""/>
            <add key="event-d2-exp" value=""/>
            <add key="event-d3-cdn" value=""/>
            <add key="event-d3-exp" value=""/>
            <add key="event-d4-cdn" value=""/>
            <add key="event-d4-exp" value=""/>
            <add key="event-d5-cdn" value=""/>
            <add key="event-d5-exp" value=""/>
            <add key="event-d6-cdn" value=""/>
            <add key="event-d6-exp" value=""/>
            <add key="event-d7-cdn" value=""/>
            <add key="event-d7-exp" value=""/>
            <add key="event-d8-cdn" value=""/>
            <add key="event-d8-exp" value=""/>
            <add key="event-d9-cdn" value=""/>
            <add key="event-d9-exp" value=""/>
            <add key="event-d10-cdn" value=""/>
            <add key="event-d10-exp" value=""/>
            <!--active-->
            <add key="active-width" value="0"/>
            <add key="active-height" value="0"/>
            <add key="active-x" value="0"/>
            <add key="active-y" value="0"/>
            <add key="active-value" value="assets\active.png"/>
            <add key="active-transparency" value="1"/>
            <add key="active-visible" value="true"/>
            <!--string-->
            <add key="string-width" value="0"/>
            <add key="string-height" value="0"/>
            <add key="string-x" value="0"/>
            <add key="string-y" value="0"/>
            <add key="string-value" value="assets\active.png"/>
            <add key="string-transparency" value=""/>
            <add key="string-visible" value="true"/>
            <!--counter-->
            <add key="counter-width" value="0"/>
            <add key="counter-height" value="0"/>
            <add key="counter-x" value="0"/>
            <add key="counter-y" value="0"/>
            <add key="counter-value" value="0"/>
            <add key="counter-transparency" value="1"/>
            <add key="counter-visible" value="true"/>
            <!--button-->
            <add key="button-width" value="0"/>
            <add key="button-height" value="0"/>
            <add key="button-x" value="0"/>
            <add key="button-y" value="0"/>
            <add key="button-value" value="0"/>
            <add key="button-transparency" value="1"/>
            <add key="button-visible" value="true"/>
            <!--editbox-->
            <add key="editbox-width" value="0"/>
            <add key="editbox-height" value="0"/>
            <add key="editbox-x" value="0"/>
            <add key="editbox-y" value="0"/>
            <add key="editbox-value" value="true"/>
            <add key="editbox-transparency" value="1"/>
            <add key="editbox-visible" value="true"/>
        </d1>
    </app>
</configuration>